div{
    background: rgb(255, 255, 255);
    width: 200px;
    height: 300px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.555);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.473);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.473);
}
div:hover{
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 48px;
    
}
p{
    margin-top: 30px;
    margin-left: 15px;
}